:root{
    --main-margin: 10px;
    --main-color: white;
    --secondary-color: #7CB9E8;
    --third-color: #feed00;
}

body{
    margin: 0;
    font-family: "Quicksand";
}

/* about-sidans css neråt */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "first first first first"
    "second second second third" 
    "fourth fourth fourth fourth"
    "fifth sixth sixth sixth";
    gap: 30px 25px;
    margin: 0 40px;
    color: var(--main-color);
}

#undertitle {
display: flex;
justify-content: center;
}

#first,
#second,
#third,
#fourth,
#fifth,
#sixth {
    min-height: 150px;
}

/* OM OSS sektion */
#first {
    background-color: var(--secondary-color);
    background-image: url('../../picture/pineapple-cut.png');
    grid-area: first;
    text-align: center;
    padding-top: 60px;
    font-size: 24px;
    margin-bottom: 40px;
}



#about {
    font-size: 30px;
}

/* MATEN sektion */
#second {
    grid-area: second;
    color: black;
}

/* Bild */
#third p{
    grid-area: third;
    color: black;
    padding-top: 0;
}

/* VÅR STORY sektion */
#fourth {
    grid-area: fourth;
    color: black;
    margin-bottom: 30px;
}

/* Bild */
#fifth {
    grid-area: fifth;
    justify-content: center;
    padding-top: 25px;
}

/* HALLBARHET sektion */
#sixth {
    grid-area: sixth;
    color: black;
    margin-bottom: 60px;
    
}

h2 {
    font-size: 24px;
    padding-left: 10px;
    margin-top: 0;
}

p {
    padding: 5px 10px;
}

img {
    width: 300px;
}

/* Vilka vi är sektionen */

.end-section {
    min-height: 200px;
    background-color: var(--secondary-color);
    background-image: url('../../picture/pineapple-cut.png');
    margin: 0 40px;
}

#last-h2 {
    text-align: center;
    padding-top: 40px;
    color: var(--main-color);
    font-size: 30px;
}

.container-flex {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    padding-bottom: 20px;
}

.pic {
    border-radius: 50%;
    border: 2px solid var(--main-color);
    height: 175px;
    width: 100%;
}

.image-container {
    margin: 20px;
    text-align: center;
  }

  figcaption {
    margin-top: 10px; /* marginal över bildtexten */
  }


  /* Desktop first */

  /* Tablet */
@media (max-width: 960px) {
  
    .container {
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-areas:
        "first"
        "second"
        "third" 
        "fourth"
        "sixth"
        "fifth";
    }

    #sixth {
        margin-bottom: 0;
    }
    #fifth {
        margin-bottom: 20px;
        padding-top: 0;
    }

    .container-flex {
    flex-wrap: wrap;
    margin: auto 40px;
}

/* Mobile */
@media (max-width: 768px) {
    #undertitle{
        display: block;
        margin-bottom: 30px;
        font-size: 20px;
    }

    #undertitle p{
        margin: 0 auto;
    }
}