:root{
    --main-margin: 10px;
    --main-color: white;
    --secondary-color: #7CB9E8;
    --third-color: #feed00;
}

body{
    margin: 0;
    font-family: "Quicksand";
}

/* about-sidans css neråt */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "first first first first"
    "second second second third" 
    "fourth fourth fourth fourth"
    "fifth sixth sixth sixth";
    gap: 30px 25px;
    margin: 0 40px;
    color: var(--main-color);
}

#first,
#second,
#third,
#fourth,
#fifth,
#sixth {
    /* border: 1px solid black; */
    min-height: 150px;
}

#first {
    background-color: var(--secondary-color);
    background-image: url('../../picture/');
    grid-area: first;
    text-align: center;
    padding-top: 20px;
}

#second {
    grid-area: second;
    color: black;
    /* text-align: center; */
    border-bottom: #999 1px solid;
}

#third {
    grid-area: third;
}

#fourth {
    grid-area: fourth;
    color: black;
    /* text-align: center; */
    border-bottom: #999 1px solid;
}

#fifth {
    grid-area: fifth;
}

#sixth {
    grid-area: sixth;
    color: black;
    /* text-align: center; */
}

h2 {
    font-size: 24px;
    padding-left: 10px;
}

p {
    padding: 5px 10px;
}

img {
    width: 400px;
}

/* Vilka vi är sektionen */

.end-section {
    border: 1px solid black;
    min-height: 150px;
}

#last-h2 {
    text-align: center;
}

.flex-div {
    display: flex;
    justify-content: center;
}

.pic {
    border: 1px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 10px;
}

.bildtext {
    display: flex;
    justify-content: center;
    margin-bottom: 0 30px;
}

.bildtext p {
    padding: 0 25px;
}