@import "variables.css";

*{
    box-sizing: border-box;
}
/* Desktop first */
#container{
    display: grid;
    margin: var(--main-margin) auto;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "address address address map map map"
        "contact contact contact contact open open"
        "logo logo reviews reviews reviews reviews"
        "leave leave leave leave leave leave";
}

#find,
#contact,
#logotyp{
    margin-right: var(--main-margin);
}

#contact,
#logotyp,
#open-hours,
#reviews,
#leavereview {
    margin-top: var(--main-margin);
}

#find,
#contact,
#open-hours,
#leavereview {
    padding: 10px;
}

h3{
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: underline black;
}

#find{
    grid-area: address;
}

address{
    margin: var(--main-margin);
    text-align: center;
}

#map{
    grid-area: map;
}

#img-map{
    width: 100%;
    height: auto;
}

#contact{
    grid-area: contact;
}

#contactbox{
    display: flex;
    flex-flow: row wrap;
}

#contact section{
    flex-grow: 1;
    flex-basis: 173px;
    margin: 5px var(--main-margin);
    padding: 10px;
    text-align: center;
}

.contactbox2{
    display: flex;
    flex-flow: column wrap;
}

.contactbox2 a{
    width: 100%;
    height: auto;
    color: black;
    text-decoration: none;;
}
.contactbox2 a:hover, #leavereview a:hover{
    color: var(--secondary-color);
}


#logotyp{
    grid-area: logo;
    padding-top: 5px;
}

#img-logo{
    width: 100%;
    height: auto;
}

#open-hours{
    grid-area: open;
    text-align: center;
}

#reviews{
    display: flex;
    grid-area: reviews;
    flex-direction: column;
    justify-content: center;
}

#reviews section{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 6px var(--secondary-color);
}

#reviews section p{
    display: inline;
    width: 100%;
    height: auto;
    font-size: 20px;
}

.reviewBox2{
    margin: 20px 0;
}

#leavereview{
    grid-area: leave;
    justify-self: center;
}

button{
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: none;
    height: 50px;
    width: 200px;
}

button:hover {
    background-color: #4192cf;
}

#leavereview a{
    width: 100%;
    height: auto;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
}

#leavereview a:hover{
    color: var(--third-color);
}

/* Media Queries */
/* Small Desktop */
@media (max-width: 1200px ) {
    #container{
        grid-template-areas: 
        "address address address map map map"
        "contact contact contact open open open"
        "logo logo reviews reviews reviews reviews"
        "leave leave leave leave leave leave";
    }

}

/* Tablet */
@media (max-width: 960px ) {
    #container{
        grid-template-areas: 
        "address address address map map map"
        "contact contact contact open open open"
        "logo logo logo reviews reviews reviews"
        "leave leave leave leave leave leave";
    }

    #reviews section p{
        font-size: 15px;
    }

}

/* Phone */
@media (max-width: 768px ) {
    #container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "address"
        "contact"
        "open"
        "reviews"
        "leave"
        "logo";
    }

    #nav-image, #img-map{
        display: none;

    }
    
    ul {
        float: none;
    }

    li a {
        font-size: 12px;
    }

    #contact section{
        flex-grow: 1;
        flex-basis: 280px;
    }
}