header {
    display: flex;
    width: 100%;
    height: 110px;
    background: #7CB9E8;
    position: fixed; 
}

img {
    width: 150px;
    height: 110px;    
}

nav {
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 30px;
    float: right;

  }
  
  li {
    
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }