@import "variables.css";

body{
    margin: 0;
    font-family: "Quicksand";
}

header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#header-image {
    width: 70%;
    height: 70%;
    margin-bottom: var(--main-margin);

}
#main-nav{
    position: sticky; 
    top: 0px;
    display: flex;
    

}

#nav-image{
    width: 125px;
    height: 70px;
    margin-left: 5%;
  
    

}
nav {
    background-color: #7CB9E8;
    width: 100%;
    height: 70px;
    margin-bottom: var(--main-margin);
   

}


ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: var(--main-margin);
    float: right;
    margin-right: 5%;
  

  }
  
  li {
    
  }
  
  li a {
    display: block;
    color: var(--main-color);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
  }

  a:hover {
    color: var(--third-color);
  }

  footer{
    background-color: var(--secondary-color);
    width: 100%;
    height: 100px;
    margin-top: var(--main-margin);
    display: block;
    
    


  }

 footer a {
    height: 50px;
    width: 50px;
    color:var(--third-color);
    text-align: center;

   
  }

  .fa {
    height: 50px;   
    width: 50px;
    
  }

#ikoner{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    text-align: center;
    padding-top: 10px;
    color: var(--main-color);
    font-weight: bold;
}

/**/
.container {
        
  display: grid;
  margin: 0 auto;
  column-gap: 10px;
  max-width: 90%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "section1 section1"
  "parent parent"
  "kontakt kontakt"
  "sparent sparent"
  "opem opem" ;
}

#section1{
grid-area: section1;
display: flex;
margin-top: var(--main-margin);
height: 100vh;
}

#texter1{
text-align: center;
margin: 10px;
}

#bild-section{
height: 500px;
}

#parent-box{
grid-area: parent;
display: flex;
height: 100vh;
text-align: center;
}

#kontaktlink,
#menu,
#samarbetspartner,
#om-oss{
  color: black;
}

.knapp{
  height: 60px;
  width: 200px;
  background-color: var(--secondary-color);
}

#mat{
  height:330px;
}

#kontakt{
grid-area: kontakt;
display: flex;
height: 100vh;
text-align: center;
}

#bild-kontakt{
  max-height: 280px;
  justify-items: center;
}

#section-parent{
grid-area: sparent;
display: flex;
text-align: center;
height: 50vh;
}

#open{
grid-area: opem;
background-color: #7CB9E8;
min-height: 100;
text-align: center;
color: var(--third-color);
}
